beautifulsoup4
bs4
CacheControl
cachetools
certifi
cffi
chardet
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
html5lib
httplib2
idna
lxml
msgpack
numpy
oauth2client
oauthlib
pandas
protobuf
pyasn1
pyasn1-modules
pycparser
pyodbc
python-dateutil
pytz
requests
requests-oauthlib
rsa
sentry-sdk
six
soupsieve
uritemplate
urllib3
webencodings
